.navbar {
	border-radius: 0px;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}

footer p {
	line-height: 15px;
}

table.detail-table thead tr th {
	text-align: center;
	font-size: 18px;
}

#title-th {
	text-align: center;
	font-size: 18px;
}

#head-tr th {
	border-bottom-width: 1px;
}

table {
	margin-top: 10px;
	margin-bottom: 10px;
}

#refresh-button-group {
	margin-top: 10px;
	margin-bottom: 15px;
}