.navbar {
	border-radius: 0px;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}

footer p {
	line-height: 15px;
}

.page-image {
	padding: 0px;
	margin-top: 100px;
	margin-left: 60px;
	max-width: 100%;
}

label.error {
	font-size: 12px;
	font-weight: inherit;
	color: red;
}