{% extends "base.html" %}

{% block title %}
    iDashBoard Audit
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/css/audit.css">
{% endblock %}

{% block custom_js %}
    <script src="/js/audit.js"></script>
{% endblock %}

{% block audit_active %}
    class = "active"
{% endblock %}

{% block container %}
    <div class="container">
    <div class="row">
        <!-- <div class="col-md-10 col-md-offset-1"> -->
        <div class="col-md-12">
            <div id="refresh-button-group" class="btn-group btn-group-sm">
                <!-- 刷新按钮 -->
                <button id="refresh-button" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
                <!-- 全部同意或者全部拒绝 -->
                <button id="ratify-button" type="button" class="btn btn-primary">
                    <span aria-hidden="true">全部通过</span>
                </button>
                <button id="refuse-button" type="button" class="btn btn-danger">
                    <span aria-hidden="true">全部拒绝</span>
                </button>
            </div>
            <!-- Datatable元素 -->
            <table id="audit-data-table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Applicant</th>
                        <th>Type</th>
                        <th>Parameter</th>
                        <th>Submission time</th>
                        <th>treatment</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}