<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}iDashBoard{% endblock %}</title>

    {% block external_css %}
	<!-- ========================= external css ========================= -->
	<!-- bootstrap css -->
	<link rel="stylesheet" href="/lib/bootstrap-3.3.2/bootstrap.min.css">

	<!-- datatable plugin basic css -->
	<!-- <link rel="stylesheet" href="/lib/datatables-1.10.5/jquery.dataTables.min.css"> -->
	<!-- datatable plugin bootstrap css, replace basic css -->
	<link rel="stylesheet" href="/lib/datatables-bootstrap-f2c75b7247b/dataTables.bootstrap.css">

	<!-- datatable plugin extension colReorder css -->
	<link rel="stylesheet" href="/lib/datatables-colreorder-1.1.2/dataTables.colReorder.css">
	<!-- datatable plugin extension responsive css -->
	<link rel="stylesheet" href="/lib/datatables-responsive-1.0.4/dataTables.responsive.css">
	<!-- datatable plugin extension fixedHeader css -->
	<!-- <link rel="stylesheet" href="/lib/datatables-fixedheader-2.1.2/dataTables.fixedHeader.css"> -->
    {% endblock %}

    {% block exteral_js %}
	<!-- ========================= external javascript ========================= -->
	<!-- jquery 1.11.2 -->
	<script src="/lib/jquery-1.11.2/jquery.min.js"></script>
	<!-- datatable plugin 1.10.5 -->
	<script src="/lib/datatables-1.10.5/jquery.dataTables.min.js"></script>

	<!-- bootstrap 3.3.2 -->
	<script src="/lib/bootstrap-3.3.2/bootstrap.min.js"></script>
	<!-- datatable plugin bootstrap -->
	<script src="/lib/datatables-bootstrap-f2c75b7247b/dataTables.bootstrap.min.js"></script>

	<!-- datatable plugin extension colReorder -->
	<script src="/lib/datatables-colreorder-1.1.2/dataTables.colReorder.min.js"></script>
	<!-- datatable plugin extension responsive -->
	<script src="/lib/datatables-responsive-1.0.4/dataTables.responsive.js"></script>
	<!-- datatable plugin extension fixedHeader -->
	<!-- <script src="/lib/datatables-fixedheader-2.1.2/dataTables.fixedHeader.min.js"></script> -->
    {% endblock %}
    <!-- ========================= base css ========================= -->
    <link rel="stylesheet" href="/css/base.css">
    {% block custom_css %}
        <!-- ========================= custom css ========================= -->
        <link rel="stylesheet" href="/css/home.css">
    {% endblock %}

    {% block custom_js %}
        <!-- ========================= custom javascript ========================= -->
    {% endblock %}

</head>
<body>
	<!-- 导航条 -->
    {% block navbar %}
	<nav class="navbar navbar-inverse">
		<div class="container">
			<!-- 导航条左侧的文字及移动设备展开按钮 -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-body">
					<span class="sr-only">Toggle Navgation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:void(0);"><strong>iDashBoard</strong></a>
			</div>
			<!-- 导航条主体 -->
			<!-- 响应式 -->
			<div class="collapse navbar-collapse" id="navbar-collapse-body">
				<!-- 左侧按钮 -->
				<ui class="nav navbar-nav" style="margin-left: 100px;">
					<li {% block main_active %}{% endblock %}><a href="/home/">Mainboard<span class="sr-only">(current)</span></a></li>
					<li {% block apply_active %}{% endblock %}><a href="/apply/">Apply</a></li>
                    {% if isTeacher %}
                        <li {% block audit_active %}{% endblock %}><a href="/audit/">Audit</a></li>
                    {% endif %}
				</ui>
				<!-- 右侧按钮 -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							{{ request.user.username }}
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
                            <li><a href="/myVMs/">
								<span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
								&nbsp;My VMS
							</a></li>
							<li><a href="/settings/">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								&nbsp;Settings
							</a></li>
                            <li><a href="/applications/">
								<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								&nbsp;Historical Applications
							</a></li>
							<li class="divider"></li>
							<li><a href="/logout/">
								<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
								&nbsp;Log out
							</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    {% endblock %}
	<!-- 文档容器 -->
    {% block container %}
        haha
    {% endblock %}

    {% block footer %}
	<!-- 页脚 -->
	<footer>
		<div class="container">
			<p><a target="_blank" href="http://tns.thss.tsinghua.edu.cn/">Institute of TNS, School of Software</a>, Tsinghua University &copy; 2015</p>
			<p>Powered by <a target="_blank" href="http://v3.bootcss.com/">Bootstrap</a>, <a target="_blank" href="https://datatables.net/">DataTables</a></p>
		</div>
	</footer>
    {% endblock %}
</body>
</html>
