{% extends "base.html" %}

{% block custom_css %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block custom_js %}
	<script src="/js/home.js"></script>
{% endblock %}

{% block main_active %}
    class = "active"
{% endblock %}

{% block container %}
	<div class="container">
        <!-- Datatable元素 -->
        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Hosts</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Virtual Machines</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <table id="host-data-table" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>IP Address</th>
                                <th>Operating System</th>
                                <th>Host Name</th>
                                <th>User Name</th>
                                <th>Memory Used</th>
                                <th>CPU Used</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <!-- Datatable元素 -->
                    <table id="main-data-table" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>IP Address</th>
                                <th>Operating System</th>
                                <th>Host Name</th>
                                <th>User Name</th>
                                <th>Memory Used</th>
                                <th>CPU Used</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>



		<div class="row">
			<!-- <div class="col-md-10 col-md-offset-1"> -->
			<div class="col-md-12">
				<!-- 页面刷新按钮组 -->
				<div id = "refresh-button-group1" class="btn-group btn-group-sm">
					<!-- 刷新按钮 -->
					<button id="refresh-button" type="button" class="btn btn-success">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</button>
					<!-- 自动刷新选项按钮 -->
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<!-- 自动刷新选项菜单 -->
					<ul id="refresh-option-menu" class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header">Auto Refresh Option</li>
						<!-- serRefreshOption(interval, index) -->
						<!-- interval: seconds per refresh, index: dom index of menu item -->
						<li><a href="javascript:setRefreshOption(0, 0);">
							<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
							&nbsp;none
						</a></li>
						<li><a href="javascript:setRefreshOption(10, 1);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;10 secs
						</a></li>
						<li><a href="javascript:setRefreshOption(30, 2);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;30 secs
						</a></li>
						<li><a href="javascript:setRefreshOption(60, 3);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;1 min
						</a></li>
						<li><a href="javascript:setRefreshOption(300, 4);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;5 mins
						</a></li>
						<li><a href="javascript:setRefreshOption(600, 5);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;10 mins
						</a></li>
					</ul>
				</div>


			</div>

		</div>
        <div class="row">
            <div class="col-md-12">
                <div id = "refresh-button-group" class="btn-group btn-group-sm ">
					<!-- 刷新按钮 -->
					<button id="refresh-button" type="button" class="btn btn-success">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</button>
					<!-- 自动刷新选项按钮 -->
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<!-- 自动刷新选项菜单 -->
					<ul id="refresh-option-menu" class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header">Auto Refresh Option</li>
						<!-- serRefreshOption(interval, index) -->
						<!-- interval: seconds per refresh, index: dom index of menu item -->
						<li><a href="javascript:setRefreshOption(0, 0);">
							<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
							&nbsp;none
						</a></li>
						<li><a href="javascript:setRefreshOption(10, 1);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;10 secs
						</a></li>
						<li><a href="javascript:setRefreshOption(30, 2);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;30 secs
						</a></li>
						<li><a href="javascript:setRefreshOption(60, 3);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;1 min
						</a></li>
						<li><a href="javascript:setRefreshOption(300, 4);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;5 mins
						</a></li>
						<li><a href="javascript:setRefreshOption(600, 5);">
							<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
							&nbsp;10 mins
						</a></li>
					</ul>
				</div>
            </div>
        </div>
	</div>
{% endblock %}