<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>IDashBoard</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('img/bg.png')">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12" style="height: 150px"></div>
        <div class="col-lg-7 text-right" style="border-right: #ffffff solid 3px;">
            <h2 style="color: #ffffff">Hey , Lazy Boy</h2>
            <h1 style="color: #ffffff">WelCome,To</h1>
            <h1 style="color: #f8efc0; font-size: 100px;">IDashBoard</h1>
            <h1 style="color: #ffffff">It was the LAZY geek,</h1>
            <h2 style="color: #ffffff">who created the world</h2>
        </div>
        <div class="col-lg-4 vms">
            <h2> &nbsp;为你实时监控虚拟机</h2>
            <h2> &nbsp;远程操控每一个项目</h2>
            <form role="form" style="margin: 20px"  action="/login/" method="post" >
               <div class="form-group">
                  <label for="username" style="color: #ffffff; font-size: 25px;">用户名</label>
                  <input type="text" class="form-control" id="username" name="username"
                     placeholder="用户名">
               </div>
                <div class="form-group">
                  <label for="password" style="color: #ffffff; font-size: 25px;">密码</label>
                  <input type="password" class="form-control" id="password" name="password"
                     placeholder="密码">
               </div>

               <button type="submit" class="btn btn-default" >登录</button>
            </form>

        </div>
        <hr/>
    </div>
</div>

</body>
</html>