{% extends "base.html" %}

{% block title %}
    iDashBoard Settings
{% endblock %}

{% block custom_css %}
	<link rel="stylesheet" href="/css/settings.css">
{% endblock %}

{% block custom_js %}
    <script src="/lib/jquery-validation-1.13.1/jquery.validate.min.js"></script>
    <script src="/js/settings.js"></script>
{% endblock %}

{% block container %}
	<!-- 文档容器 -->
	<div class="container">
		<div class="row">
			<!-- 左侧表单 -->
			<div class="col-sm-5 col-sm-offset-1">
				<div class="row">
					<div class="form-group col-sm-8 col-sm-offset-4"><h4>User Infomation</h4></div>
				</div>
				<div class="row">
					<form id="user-info-form" class="form-horizontal" action="/saveUserInfo/" method="POST">
						<div class="form-group">
							<label class="col-sm-4 control-label">User Name</label>
							<div class="col-sm-8">
								<input id="user-name" name="username" type="text" class="form-control" placeholder="User Name" value= {{ username }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Email Address</label>
							<div class="col-sm-8">
								<input id="email" name="email" type="email" class="form-control" placeholder="Email Address" value={{ email }}>
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">Phone Num</label>
							<div class="col-sm-8">
								<input id="phone-num" name="phone" type="text" class="form-control" placeholder="Phone Num" value={{ phone }}>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Department</label>
							<div class="col-sm-8">
								<input id="department" name="department" type="text" class="form-control" placeholder="Department" value={{ department }}>
							</div>
						</div>
						<button type="submit" class="col-sm-2 btn btn-primary pull-right">Save</button>
					</form>
				</div>
				<hr>
				<div class="row">
					<div class="form-group col-sm-8 col-sm-offset-4"><h4>Change Password</h4></div>
				</div>
				<div class="row">
					<form id="password-form" class="form-horizontal" action="/changePassword/" method="POST">
						<div class="form-group">
							<label class="col-sm-4 control-label">Password</label>
							<div class="col-sm-8">
								<input id="password" name="password" type="password" class="form-control" placeholder="Your Password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">New Password</label>
							<div class="col-sm-8">
								<input id="new-password" name="newpassword" type="password" class="form-control" placeholder="New Password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Confirm Password</label>
							<div class="col-sm-8">
								<input id="confirm-password" name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password">
							</div>
						</div>
						<button type="submit" class="col-sm-2 btn btn-primary pull-right">Submit</button>
					</form>
				</div>
			</div>
			<!-- 右侧图片 -->
			<div class="col-sm-5">
				<img class="page-image" src="/img/cloud.png">
			</div>
		</div>
	</div>
{% endblock %}
